/*  */
.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: url("../../../assets/exp.png") no-repeat center center; */
}
.carousel-inner {
  width: 70%;
}
.carousel-item {
  width: 100%;
}
