@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

.MuiButton-textSizeLarge {
  text-transform: capitalize !important;
}
.MuiTypography-colorSecondary {
  /* color: yellow !important; */
}
@media screen and (device-width: 360px) /* and (device-height: 640px) */ and (-webkit-device-pixel-ratio: 4) {
  .MuiTypography-h2 {
    /* font-size: 36px !important; */
  }
}
