@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@200;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif !important;
}
html {
  background: url(./assets/home.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.MuiTypography-h2 {
  font-size: 5rem !important;
  background: -webkit-linear-gradient(
    rgba(251, 227, 18, 1),
    rgba(232, 79, 126, 0.9)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: 700;
}
.MuiTypography-h3 {
  font-size: 2rem !important;
  background: -webkit-linear-gradient(
    rgba(251, 227, 18, 1),
    rgba(232, 79, 126, 0.9)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: 700;
}
.MuiTypography-h5 {
  font-size: 1.5rem !important;
}
.MuiTypography-body1 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}
@media screen and (max-width: 1125px) {
  .MuiTypography-h2 {
    font-size: 3rem !important;
  }
  .MuiTypography-h5 {
    font-size: 0.9rem !important;
  }
  .MuiTypography-h4 {
    font-size: 0.95rem !important;
  }
}
@media screen and(max-width: 600px) {
  .MuiTypography-body1 {
    font-size: 0.6rem !important;
    font-weight: 200 !important;
  }
  .MuiTypography-h5 {
    font-size: 0.8rem !important;
  }
}
